{% extends 'base.html.twig' %}

{% block title %}Edition d'une annonce{% endblock %}


{% block body %}
        <div class="container">
        <h1>Modifier l'article : {{ad.libelle}}</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Éditer l'article</button>
        <button type="reset" class="btn btn-secondary">Reset</button>

        {{ form_end(form) }}

        <button style="margin-top:20px"><a href="{{ path('ads_list')}}">Annuler</a></button>
    </div>
{% endblock %}


{% block javascripts %}

<script src="/js/ad.js">
    
</script>
{% endblock %}